<!DOCTYPE html>
<html>
<head>
    <title>Flickr</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
<div class="mainbar-fix-top" role="navigation">
  <div class="container">
    <div class="mainbar-header">
      <% if signed_in? -%>
        <span>
          Hello, <a href="mailto:<%= current_user.email %>"><%= current_user.email %></a> | <%= link_to t('.sign_out'), sign_out_path, :method => :delete %>
          <ul>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Upload Photo</a></li>
          </ul>
          <% else -%>
            <%= link_to t('.sign_in'), sign_in_path %>
          <% end -%>
        </span>
    </div>
  </div>
</div>

  <div id='flash'>
    <% flash.each do |key, value| -%>
      <div id='flash_<%= key %>'><%=h value %></div>
    <% end %>
  </div>

  <div id="container">
    <%= yield %>
  </div>
</body>
</html>
